* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.flex {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}

.item {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid yellow;
  transition: transform 0.5s ease;
}

.item img:hover {
  transform: scale(1.1);
}